/* =========================================================== */
/*  ------------------------------------------------------------
    PLAZreset-CSS
    Plazmediå® 2019 · Plazmediå LAB™ 
    http://www.plazmedia.com.mx/home
    v2.0 | 19220919
    License: Copyright © · All rights reserved
*/
/* =========================================================== */

/* Plazmedia color variable */
:root{
    --plaz-color:               #0061ff;
    --new-plaz-color:           #4918fa;
    --new-plaz-color-hover:     #5d31fb;
    --new-plaz-color-active:    #240399;
    --plaz-color-gradient1:     #310DFF;
    --plaz-color-gradient2:     #9107fa;
    --operador:                 #0B3272;
    --secondary:                #333;
    --white:                    #fff;

/* ------------- Botones ---------------- */
/* Boton Relacionar */
    --relacionar:               #0A7BBA;
    --relacionar-hover:         #0C9AE8;
    --relacionar-active:        #124FB3;
/* Confirmar */
    --green:                    #6C8F07;
    --green-hover:              #87B309;
    --green-active:             #567206;
/* Cancelar */
    --orange:                   #CC2C14;
    --orange-hover:             #FF3719;
    --orange-active:            #A32310;

/* -----------Escala de grises ----------- */
    --gray-25:                  #3f3f3f;
    --gray-50:                  #7f7f7f;
    --gray-75:                  #bfbfbf;
    --gray-85:                  #d8d8d8;

}
/*============================================================*/

/* Main control of the HTML tag */
html{
    /** 1rem = 10px - Reset para REMS - 62.5% = 10px de 16px que es el estandar de tamaño para la funete de los navegadores. **/
    font-size: 62.5%; 

    /* font-family:'Roboto', sans-serif; */
    
    line-height:1.5;
    -webkit-text-size-adjust:100%;
       -moz-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
            text-size-adjust:100%;
    list-style:none;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
}
/* Margen, relleno y scroll en x. */
body{
    margin:0;
    padding:0;
    overflow-x:hidden;
}
/* Margin en etiquetas H */
h1, h2, h3, h4, h5, h6{
    margin: .5rem 0;
}
/* Tamaños de etiquetas H */
h1{
    font-size:3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}
h5{
    font-size: 2.4rem;
}
h6{
    font-size: 2rem;
}

/* Diseño de enlaces */
a {
    color:var(--plaz-color);
    text-decoration:none;
}
/* Control de texto Small */
small {
    font-size:75%;
}
/* Controles alternativos */
hr{
    height:0;
    overflow:hidden;
    border:none;
}
button,
input,
select,
textarea {
  font-family:inherit; 
  font-size:100%; 
  margin:0;
}
/* Imagen adaptada a su contenedor */
img{
    max-width: 100%;
    border-style:none;
}
/* Before y after (s)*/
*,::before,::after{
    -webkit-box-sizing:inherit;
            box-sizing:inherit;
}
/* -------------------- ^ PLAZreset-CSS ^ -------------------- */
/* =========================================================== */

/* Plus - Shortcut Utiles */
/*
    1.-
    CTRL + SHIFT + p + "Borrar y escribir el @" = Mapa listado de los elementos en el archivo.
    CTRL + SHIFT + o = Abre directamente el Mapa listado, sin tener que escribir el @.

    2.-
    CTRL + SHIFT + p + "Borrar y escribir el ':'" = Escribir el numero de linea al que se quiere mover. 
    CTRL + SHIFT + g = Escribir directo el número de linea al que se quiere mover.
*/
/* Markdown - Ejemplo los archivos README.md de Git(Hub-Lab) */
/*
    CTRL + SHIFT + p + "Escribir 'Markdown'" = Este comando o funcionalidad te permite interpretar y vsualizar los archivos .md para certificar que su estilo sea correcto.
*/