body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    /* line-height: 2; */
}

/* Globales */
.contenedor{
    max-width: 100rem;
    width: 95%;
    margin: 0 auto;
}
h1,h2,h3,h4{
    font-family: 'PT Sans', sans-serif;
}
h2{
    line-height: 1.2;
}

/* Utilidades */
.centrar-texto{
    text-align: center;
}
.no-margin{
    margin: 0;
}
.test{
    background-color: var(--plaz-color)
}
.space-element{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.color-plaz{
    color: var(--new-plaz-color);
}

/* Grid */
@media (min-width: 768px){
    .grid{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .centrar-columnas{
        justify-content: center;
    }
    .columnas-4{
        flex: 0 0 calc(33.3% - 1rem)
    }
    .columnas-6{
        flex: 0 0 calc(50% - 1rem)
    }
    .columnas-8{
        flex: 0 0 calc(66.6% - 1rem);
    }
    .columnas-10{
        flex: 0 0 calc(83.3% - 1rem);
    }
    .columnas-12{
        flex: 0 0 100%;
    }
}

/* Botones */
.btn{
 display: block;
 text-align: center;
 padding: 1rem 3rem;
 margin: 2rem 0;
 color: var(--white);
 font-family: 'PT Sans', sans-serif;
 font-weight: 700;
 text-transform: uppercase;
 flex: 0 0 100%;
 border: none;
 letter-spacing: .2rem;
}
.btn:hover{
    cursor: pointer;
}
@media (min-width: 768px){
    .btn{
        display: inline-block;
        flex: 0 0 auto;
    }
}
.btn-primario{
    background-color: var(--green);
}
.btn-secundario{
    background-color: var(--new-plaz-color);
}
.btn-secundario:hover{
    background-color: var(--new-plaz-color-hover);
}
.btn-secundario:active{
    background-color: var(--new-plaz-color-active);
}

/* Header */
.contenedor-logo{
    display: flex;
    justify-content: center;
    padding-top: 3rem; 
}
.logo{
    width: 14rem;
    padding-top: .4rem;
}
.site-header{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60rem;
}
.site-header a{
    color: var(--white);
}
.site-header h1{
    text-align: center;
    font-weight: 400;
}
@media (min-width:768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }   
    .contenedor-logo{
        padding-top: 0; 
    }
}

/* Navegación */
.navegacion a{
    text-align: center;
    display: block;
    font-size: 1.8rem;
}
.navegacion a:hover{
    color: var(--white);
    background-color: var(--new-plaz-color);
}
@media (min-width:768px){
    .navegacion a{
        display: inline;
        padding: .5rem 2rem;
    } 
    .navegacion a:last-of-type{
        margin: 0;
    } 
}

/* Header Texto */
.texto-header{
    color: var(--white);
    text-align: center;
    padding: 0 3rem;
    margin-top: 5rem;
}
@media (min-width: 768px){
    .texto-header{
        padding: 0;
        margin-top: 17rem;
    }
}
.texto-header p{
    font-size: 2.2rem;
}

 /* Contenido Pincipal HOME */
 .contenido-principal{
     display: flex;
     flex-wrap: wrap;
     padding: 2rem 0;
 }
 .contenido-principal h2{
    color: var(--new-plaz-color);
 }
 .blog,
 .cursos{
     flex: 0 0 100%;
 }
 .cursos{
     order: -1;
 }
 .cursos p span{
     color: var(--new-plaz-color);
 }
 .blog h2{
     padding-bottom: 2rem;
 }
 @media (min-width: 768px){
     .contenido-principal{
         justify-content: space-between;
     }
     .blog{
        flex-basis: 60%;
     }
     .cursos{
        flex-basis: calc(40% - 4rem);
        order: 2;
     }
 }
 .entrada-blog{
     margin-bottom: 2rem;
     border-bottom: 1px solid var(--gray-85);
 }
 .entrada-blog:last-of-type{
    border-bottom: none;
 }
 
 /* Cursos SIdeBar */
 .cursos-lista{
     padding: 0;
     list-style: none;
 }
 .curso{
     padding: 2rem 0;
     border-bottom: 1px solid var(--gray-85);
 }
 .curso:last-of-type{
     border-bottom: none;
 }
 .curso p{
     font-family: 'PT Sans', sans-serif;
     font-weight: 700;
     font-size: 2rem;
 }
 .curso p span,
 .curso p.descripcion{
     font-weight: 400;
 }

 /* Footer */
 .site-footer{
     background-color: var(--secondary);
     padding: 2rem 0;
 }
 .site-footer p{
     color: var(--white);
     font-size: 2rem;
     font-family: 'PT Sans', sans-serif;
     text-align: center;
     /* margin: 0; */
 }
 .site-footer p span{
    font-weight: 700;
 }
 .site-footer a{
     color: var(--white);
 }
 /* .site-footer a:hover{
     color: var(--plaz-color);
 } */

 /* Contacto */
.formulario-contacto{
    background-color: var(--white);
    border-radius: 1rem;
}
 @media (min-width: 768px){
    .formulario-contacto{
        margin-top: -10rem;
        padding: 5rem;
    }
}
.formulario-contacto .campo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.formulario-contacto .campo label{
    flex: 0 0 8rem;
}
.formulario-contacto .campo input:not([type="submit"]),
.formulario-contacto .campo textarea{
    flex: 1;
    border: 1px solid var(--gray-75);
    padding: 1rem;
    border-radius: .5rem;
}
.formulario-contacto .campo textarea{
    height: 20rem;
}
.formulario-contacto .enviar{
    display: flex;
    justify-content: flex-end;
}